<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<header>
    <div class="header">
        <a href="/" class="sidbeskrivning">Mina Kurser</a>
        <div class="header-right">
          <a href="/form">L채gg till kurs</a>
          <a class="active" href="/">Startsidan</a>
          <a href="/omsidan">Om sidan</a>
        </div>
      </div>
</header>
<body>

    <h1>V채lkommen till startsidan</h1>
    <p>H채r kan du l채sa om dina kurser</p>

    <% courses.forEach((course)=> { %>
        <ul>
            <li>
                Kurskod: <%= course.code %>
            </li>
            <li>
                Kursnamn: <%= course.coursename %>
            </li>
            <li>
                Progression: <%= course.progression %>
            </li>
            <li>
                URL: <%= course.syllabus %>
            </li>
            <form method="post" action="/delete-course">
                <input type="hidden" name="courseId" value="<%= course.id %>">
                <button id="deleteBtn" type="submit">Radera</button>
            </form>
        </ul>
        <% }); %>
</body>

</html>