<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<header>
    <div class="header">
        <a href="/" class="sidbeskrivning">Startsidan</a>
        <div class="header-right">
            <a href="/form" class="notActive">Lägg till kurs</a>
            <a class="active" href="/">Startsidan</a>
            <a href="/omsidan" class="notActive">Om sidan</a>
        </div>
    </div>
</header>

<body>

    <h1>Välkommen till startsidan</h1>
    <p class="brödtext">Här kan du läsa om dina kurser</p>

    <% courses.forEach((course)=> { %>
        <ul>
            <li>
                Kurskod: <%= course.code %>
            </li>
            <li>
                Kursnamn: <%= course.coursename %>
            </li>
            <li>
                Progression: <%= course.progression %>
            </li>
            <li>
                URL: <a href="<%= course.syllabus %>">Klicka här</a>
            </li>
            <form method="post" action="/delete-course">
                <input type="hidden" name="courseId" value="<%= course.id %>">
                <button id="deleteBtn" type="submit">Radera</button>
            </form>
        </ul>
        <% }); %>

            <footer>
                <p class="brödtext">Anton Eriksson, Uppgift 1, DT207G</p>
            </footer>
</body>

</html>