<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1>Lägg till kurs</h1>
    <form id="courseForm" method="post" action="/">
        <label for="courseCode">Kurskod:</label><br>
        <input type="text" name="courseCode" id="courseCode" required>
        <br><br>
        <label for="courseName">Kursnamn:</label><br>
        <input type="text" name="courseName" id="courseName" required>
        <br><br>
        <label for="progression">Progression</label>
        <select name="progression" id="progression">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
        <br><br>
        <label for="courseUrl">Kurs-URL:</label><br>
        <input type="url" id="courseUrl" name="courseUrl" required>
        <br><br>
        <button type="submit">Spara kursinformationen</button>
    </form>

    <h2>Redan tillagda kurser</h2>

    <% courses.forEach((course)=> { %>
        <ul>
            <li>
                Kurskod: <%= course.code %>
            </li>
            <li>
                Kursnamn: <%= course.coursename %>
            </li>
            <li>
                Progression: <%= course.progression %>
            </li>
            <li>
                URL: <%= course.syllabus %>
            </li>
            <form method="post" action="/delete-course">
                <input type="hidden" name="courseId" value="<%= course.id %>">
                <button type="submit">Radera</button>
            </form>
        </ul>
        <% }); %>
</body>

</html>